.hero-body {
  background-image: url('https://s1.1zoom.me/big0/921/389926-svetik.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.has-text-centered{
  margin-top: 10px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 10px;
}
.textarea{
  margin: 0 auto;
}
.hero-header{
  background-color: Azure;
  font-size: 12px;
}
